*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    position: relative;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
}

.head{
    display: flex;
    justify-content: end;
    align-items: center;
    height: 35px;
}

.view{
    width: 12%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.speaker i{
    display: inline-block;
}

.speaker h5{
    display: inline-block ;
}

.speaker, .size{
    display: inline-block;
    color: white;
    padding: 5px;
    background-color: gray;
    border-radius: 5px;
}

.size{
    margin: 0 5px 0 5px;
}

.contain{
    margin: 50px 50px 130px 50px;;
    display: flex;
    flex-flow: row wrap;
}

.cube{
    margin-right: 5px;
    margin-bottom: 10px;
    position: relative;
}

.text i, .text p{
    display: inline-block;
}

.text{
    position: absolute;
    bottom: 15px;
    left: 0;
    background-color: rgba(236, 239, 244,.5);
    color: white;
}

img{
    width: 160px;
}

nav{
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(46, 46, 46);
    width: 100%;
}

.left, .right, .cntr{
    display: flex;
}

.left{
    align-items: center;
    justify-content: space-evenly;
    width: 12%;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

a p{
    font-size: 12px;
}

a{
    text-decoration: none;
}

.struments{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.struments a{
    color:white;
}

.right a p{
    color: red;
}

.right{
    justify-content: center;
    background-color: #646464;
    align-items: center;
    height: 100%;
    padding: 0 15px;
}

.struments .left .icon i{
    padding-bottom: 5px;
}

.struments .interaction .icon i{
    padding-bottom: 5px;
}

.interaction a{
    display: flex;
    padding: 0 10px;
}

.interaction{
    display: flex;
    align-items: center;
}

.up{
    font-size: 10px;
}

.share i{
    color: rgb(1, 170, 1);
}